.faqs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding-bottom: 110px;
  padding-top: 140px;
  width: 35%;
  margin: 0 auto;
}

.faqs p {
  text-align: center;
  color: #c6c7ca;
}

.faqs h3 {
  color: #2f334e;
}

.faqs > button {
  font-size: 12px;
  width: 70px;
  height: 40px;
}

.accordion {
  width: 100%;
}

.accordion-button {
  &.collapsed {
    box-shadow: none;
  }

  &:not(.collapsed) {
    box-shadow: none;
    background-color: #c5caeb;
  }
}

@media (max-width: 992px) {
  .faqs {
    width: 100%;
  }

  .faqs p {
    width: 80%;
  }
}

@media (max-width: 1200px) {
  .faqs {
    width: 80%;
  }

  .faqs p {
    width: 80%;
  }
}
