// FOOTER CSS
.footer {
  display: flex;
  flex-direction: column;
}

// NEWSLETTER
.footer__newsletter {
  background-color: #5267de;
  padding: 60px 0;
}

.footer__newsletter__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 25px;
}

.footer__newsletter__container p {
  letter-spacing: 6px;
}

.footer__newsletter__container h3 {
  text-align: center;
  font-size: 40px;
}

.footer__newsletter__container div {
  display: flex;
  gap: 15px;
  height: 40px;
}

.footer__newsletter__container input {
  width: 250px;
}

.footer__newsletter__container button {
  width: 120px;
  background-color: #fa5858;
}

// FOOTER CSS
.footer__footer {
  background-color: #252947;
  padding: 35px 0;
}

.footer__footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__footer__container__left {
  display: flex;
  gap: 30px;
  align-items: center;
  color: white;
}

.footer__footer__container__left a {
  cursor: pointer;
}

.footer__footer__container__left img {
  cursor: pointer;
}

.footer__footer__container__rigth {
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer__footer__container__rigth img {
  cursor: pointer;
}
