.footer__container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
}

.footer__items {
  background-color: #252947;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__items__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__items__left {
  display: flex;
  gap: 40px;
}

.footer__items__left__link {
  display: flex;
  gap: 60px;
  color: aliceblue;
}

.footer__items__rigth {
  display: flex;
  gap: 50px;
}

.footer__contact {
  height: 450px;
  width: 100%;
  background-color: #5267de;
  color: white;
  display: flex;
  align-items: center;
}

.footer__contact__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.footer__contact__action {
  display: flex;
  gap: 10px;
  height: 60px;
}
