.footer__container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  background-color: black;
  left: 50%;
  margin-left: -50vw;
}

.footer__items {
  display: flex;
  align-items: center;
}

.footer__items__left {
  display: flex;
  align-items: center;
}

.footer__items__rigth {
  display: flex;
  gap: 20px;
}
