$primary: #5166e1;
$secondary: #fa5959;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/bootstrap";

@import "./main.scss";
@import "./faqs.scss";
@import "./footer.scss";
@import "./download.scss";
@import "./features.scss";
@import "./hero.scss";
@import "./nav.scss";

+ {
  margin: 0;
}
